  .hidden {
    opacity: 0;
    filter: blur(15px);
    transform: translateY(-100%);
    transition: all 1.7s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

.shrink_info_back{
  background-color: #f5f5f5 !important;
}
.content {
  display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 21.333px;
}
.ShrinkInfo {
  display: flex;
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center;
}
.shrink_img {
  width: 80%;
  border-radius: 30px;
}
.shrink-heading {
  font-weight: bold;
  font-size: 50px;
  color: #4c4c4c;
  max-width: 700px;
}
.shrink-text {
  font-size: 30px;
  max-width: 670px;
  color: #6a6a6a;
  margin: 0.5rem 0rem;
}
.Shrink {
  display: grid;
    padding: 180px 85.3px;
    align-items: center;
    gap: 100px;
    grid-template-columns: repeat(2, 1fr);
}

.card {
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.4);
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@media only screen and (max-width: 700px) {
.Shrink {
    gap: 20px;
    padding: 60px 30px 60px 30px;
    display: flex;
    flex-direction: column;
}
.shrink-heading{
  font-size: 22px;
}
.shrink-text {
  font-size: 20px;
}
}