/* Section Titles */
/* Skills & About Me */
.section--title {
  color: var(--heading-color);
  font-size: 50px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  display: flex;
  align-items: flex-start;
  width: 100%;
}
.main-back { 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
  
}
.background-image {
  width: 100%;
  height: 100%;
}
/* Hero Section Style */
.hero--section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 140px 120px 133.333px;
    justify-content: space-between;
    gap: 32px;
  }
  .hero--section--content-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
  }
  .hero--section--content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 21.333px;
  }
  .hero--section--content--box > button {
    margin-top: 21.333px;
  }
  .hero--section--title {
    color: #0F62FE;
    font-size: 74.667px;
    font-weight: 700;
    line-height: 90px;
    align-self: stretch;
  }
  .hero--section--title--color {
    color: var(--primary);
  }
  .hero--section-description {
    color: var(--darkblue);
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
  }
  .hero--section--img {
    display: flex;
    width: 110%;
  }
  .hero--section--img > img {
    width: 100%;
    height: 100%;
  }
  /* Hero Section Style Ends */