.MuiTableRow-root > * {
    padding: 15px;
    
  }
  
  .MuiTableRow-root.MuiTableRow-head > * {
    font-weight: bold !important;
  }
  .Table tr, th,td {
    font-size: 17px !important;
    font-family: 'Black Han Sans', sans-serif !important;
    font-family: 'Inter', sans-serif !important;
    font-family: 'Noto Sans KR', sans-serif !important;
  }

  .Table td,
  th {
    border: none !important;
  }
  
  .Table:first-child {
    
    border-radius: 0.7rem !important;
  }
  .status {
    font-weight: bold !important;
    padding: 8px;
    border-radius: 9px;
  }
  
  .Details {
    color: #00b5ff !important;
  }

  @media screen and (max-width: 1200px) {
    .Table1 {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 95%;
      margin-top: 2rem;
    }
  }
  
  
  @media screen and (max-width: 768px) {
    .Table1 {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 95%;
      margin-top: 0rem;
    }
    .Table1 h1{
      font-size: 30px;
    }
  }