.CompactCard {
    display: flex;
    flex: 1;
    width: 20rem;
    height: 12rem !important;
    border-radius: 2rem;
    color: rgb(255, 255, 255);
    padding: 1rem;
    position: relative;
    cursor: pointer;
    margin: 0.5rem;
}

.CompactCard:hover {
    box-shadow: none !important;
}

/* radial bar */
.radialBar{
    flex: 1 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    height: 100%;
}

.CircularProgressbar {
    width: 8rem !important;
    overflow: visible;
}

.CircularProgressbar-path {
    stroke: #4c67ff !important;
    stroke-width: 12px !important;
    filter: drop-shadow(2px 4px 6px #3F5DFE);
}
.CircularProgressbar-trail {
    display: none;
}
.CircularProgressbar-text {
    font-weight: bold;
    fill: rgb(0, 0, 0) !important;
}
.radialBar > span {
    font-size: 17px;
    font-weight: bold;
}

/* sideDetail*/
.detail {
    color: black;
    
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.detail > span:nth-child(2) {
    font-size: 30px;
    font-weight: bold;
}
.detail > span:nth-child(3) {
    font-weight: bold;
    font-size: 30px;
}
.detail > span:nth-child(4) {
    font-weight: bold;
    font-size: 18px;
}

/* ExpandedCard */
.ExpandedCard {
    position: absolute;
    width: 50%;
    height: 60vh;
    z-index: 9;
    left: 15rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
}

.ExpandedCard>span:nth-of-type(1) {
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-weight: bold;
    /* text-shadow: 0px 0px 15px rgb(87, 87, 87); */
}

.ExpandedCard>span:nth-of-type(2) {
    color: black;
    font-size: 15px;
}

.chartContainer {
    width: 80%;
  }

.xbtn > svg {
    width: 40px;
    height: 40px;
}


@media screen and (max-width: 1460px) {
    .Cards{
      flex-direction: column;
    }
    
    .CompactCard{
      width: 90%;
    }
    .ExpandedCard{
        top: 10rem;
        width: 60vw;
        height: 50vh;
        left: 13rem;
    }
  }