.LandingPage{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    overflow-x: hidden;
}
.main{
    margin-top: 8rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
} 

.RightSide {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.explain{
    font-size: 25px;
    font-weight: bold;
    color: rgb(89, 89, 89);
    margin-bottom: 2rem;
}


.LeftSide span {
    white-space: pre-line;
  }
.LeftSide > span {
    color: black;
    font-size: 45px;
    font-weight: bold;
}

.LeftSide > span > span:nth-of-type(1) {
    color: #0F62FE;
    font-size: 45px;
    font-weight: bold;
}

@media screen and (max-width: 1440px){
    .explain{
        margin-top: 1.6667vw;
        font-size: 1.9800vw;
    }
    .LeftSide > span {
        font-size: 3.6111vw;
    }
    
    .LeftSide > span > span:nth-of-type(1) {
        font-size: 3.6111vw;
    }
}


@media screen and (max-width: 1200px) {
    .LandingPage {
        grid-template-columns: 10% 50% auto;
        overflow-y: scroll;
    }
    
}

@media screen and (max-width: 768px) {
    .LandingPage{
        grid-template-columns: 1fr;
        margin-top: 0rem;
    }
    .explain{
        margin-top: 10px;
        font-size: 17px;
    }
    .main {
        display: block;
        margin-left: 1rem;
        margin-top: 2rem;
    }
    .LeftSide > span {
        font-size: 25px;
    }
    
    .LeftSide > span > span:nth-of-type(1) {
        font-size: 25px;
    }
}