.LandingPage{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.main{
    margin-top: 7rem;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    background: linear-gradient(to bottom, #ffffff, #a3c3fd);
} 

.Main_img{
    display: flex;
    align-content: center;
    justify-content: center;
}

.main > img {
    margin-top: 3rem;
    width: 30%;
}

.main span {
    white-space: pre-line;
  }
.main > span {
    color: black;
    font-size: 45px;
    font-weight: bold;
}

.main > span > span:nth-of-type(1) {
    color: #0F62FE;
    font-size: 60px;
    font-weight: bold;
}
.main > span > span:nth-of-type(2) {
    font-size: 25px;
    font-weight: bold;
    color: rgb(89, 89, 89);
    margin-bottom: 2rem;
}


@media screen and (max-width: 1440px){
    .explain{
        margin-top: 1.6667vw;
        font-size: 1.9800vw;
    }
    .LeftSide > span {
        font-size: 3.6111vw;
    }
    
    .LeftSide > span > span:nth-of-type(1) {
        font-size: 3.6111vw;
    }
}


/* 다른 스타일들 추가... */

@media screen and (max-width: 1200px) {
    .LandingPage {
        grid-template-columns: 10% 50% auto;
        overflow-y: scroll;
    }
    
}

@media screen and (max-width: 768px) {
    .LandingPage{
        grid-template-columns: 1fr;
        margin-top: 0rem;
    }
    .explain{
        margin-top: 10px;
        font-size: 17px;
    }
    .main {
        display: block;
        margin-left: 1rem;
        margin-top: 2rem;
    }
    .LeftSide > span {
        font-size: 25px;
    }
    
    .LeftSide > span > span:nth-of-type(1) {
        font-size: 25px;
    }
}