.layout {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;

}

.App {
    
    font-family: 'Black Han Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;

}
:root {
    --primary: #5e3bee;
    --heading-color: #282938;
    --bg-shade: #f5fcff;
    --github: #e62872;
    --darkblue: #1c1e53;
    --black: #000000;
    --white: #ffffff;
  }