@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

body {
    margin: 0;
    background-color: #F0F0F0;
    font-family: 'Noto Sans KR', sans-serif;
}

button {
    font-family: 'Noto Sans KR', sans-serif;
}

input {
    font-family: "Noto Sans KR", sans-serif;
}