.RightSide{
    display: flex;
    flex-direction: column;
    /* padding-top: 1rem; */
    width: 55%;
    justify-content: space-evenly;
}

.CustomerReview {
    margin-left: 20px;
    width: 80%;
    
}